.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    background-color: rgba(44, 43, 43, 0.387);
}

.flickrlogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flickrlogo:hover {
    cursor: pointer;
}

#dots {
    height: 30px;
    padding-left: 20px;
}

.flickr {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding-left: 5px;
}


.searchbar {
    display: flex;
    align-items: center;
}

#searchIcon {
    height: 10px;
    padding: 7px;
}

#searchIcon:hover {
    cursor: pointer;
}

#searchbox {
    width: 1500px;
    /* max-width: 1900px;
    min-width: 500px; */
    /* background-color: rgba(255, 255, 255, 0.402); */
    background-color: white;
    padding: 8px;
    border: unset;
    border-radius: 2px;
}

#login {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

#login:hover {
    cursor: pointer;
}


#signup {
    background-color: white;
    border: none;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    margin-right: 25px;
    margin-left: 6px;
    font-weight: 600;
    font-size: 15px;
}

#signup:hover {
    color: gray;
    cursor: pointer;
}

/*footer start*/

.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    justify-content: space-around;
    /* border: 2px red solid; */
    align-items: center;
    background-color: black;
    color: hsla(0, 0%, 100%, .6);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.footer div:hover {
    color: white;
    cursor: pointer;
}


/* #twitter {
    height: 50px;
    width: 50px;

} */

/*footer end*/

/* Middle section */
.middle {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    color: white;
    text-align: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#find {
    margin-top: 375px;
    font-size: 50px;
}


#startforfree {
    font-size: 24px;
    font-weight: 800;
    height: 64px;
    line-height: 64px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    padding-left: 30px;
    padding-right: 30px;
    transition: color ease-in;
}

#startforfree:hover {
    cursor: pointer;
    color: gray;
}



.startForFreeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 475px
}



#find {
    line-height: 56px;
    margin-bottom: 36px;
    font-weight: light;
    /* position: absolute;
    top: 300px; */


}

.h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 50px;
    width: 630px;
    text-align: center;
}

body {
    background-image: url(/background/1.jpeg);
    background-position: center;
}


/* .background {
    background-image: url(/w7d4Clone/background/1.jpeg);
} */

@media (max-width: 1000px) {
    #searchbox {
        width: 500px;
    }
}
